<form class="edit-reminder-form">
  {{input class="edit-reminder-title" value=model.title}}
  {{bootstrap-datepicker class="edit-reminder-date" value=model.date}}
  {{input class="edit-reminder-notes" value=model.notes}}
  {{#link-to 'reminders.reminder' model}}
    <button class="submit-edits-button" {{action 'editReminder' model on="submit"}}>Save</button>
  {{/link-to}}
</form>
