{{outlet}}

<article>
  <h2 class="detailed-reminder-title">{{model.title}}</h2>
  <span class="detailed-reminder-date">{{model.date}}</span>
  <span class="detailed-reminder-notes">{{model.notes}}</span>
  {{#link-to 'reminders.edit' model}}
    <button class="edit-reminder-button">Edit</button>
  {{/link-to}}
</article>
