<ul>
  {{#each model as |reminder|}}
    <li class="spec-reminder-item">
      {{#link-to 'reminders.reminder' reminder}}
      <h2 class="reminder-title">
          {{reminder.title}}
      </h2>
      {{/link-to}}
      <h3 class="reminder-date">{{reminder.date}}</h3>
    </li>
  {{/each}}
</ul>

{{outlet}}
