<ul>
  {{#each model as |reminder|}}
    <li class="spec-reminder-item">
      {{#link-to 'reminders.reminder' reminder}}
      <h2 class="spec-reminder-title">
          {{reminder.title}}
      </h2>
      {{/link-to}}
      <span class="spec-reminder-date">{{reminder.date}}</span>
    </li>
  {{/each}}
</ul>
{{#link-to 'reminders.new'}}
  New Reminder
{{/link-to}}

{{outlet}}
